@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.hover-5dots-div {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger_btn:hover .hover-5dots-div {
  transform: scale(3);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out 0.1s;
}

.hover-plus-div {
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in 0.3s;
}

.hamburger_btn:hover .hover-plus-div {
  animation: animate-plus 0.1s ease-in-out 0.1s;
  animation-fill-mode: forwards;
}

@keyframes animate-plus {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.25);
    opacity: 0.25;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sun-icon {
  animation: MoveUpDown 1s ease-in-out forwards;
}

@keyframes MoveUpDown {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

/* hero section */
.oval-shape {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  padding: 10px;
}

.hero-image {
  position: relative;
}

.hero-image::before {
  content: '';
  background: url('/public/assets/image-from-rawpixel-id-12409439-original.png')
    no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid black;
  z-index: 50;
  border-radius: 10px;
  width: 16rem;
}

.hero-image::after {
  content: '';
  width: 240px;
  height: 24rem;
  position: absolute;
  top: -44px;
  left: 58px;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #22c55e;
}

.horizontal-row {
  height: 20px;
  width: 4px;
  background: #22c55e;
}

.transition-bg {
  transition-property: background-color;
}
